.form-select {
    width: 30%;
}
.flex-container {
    display: flex;
}
.nav {
    flex-direction: column;
}
.nav-pills {
   height: 480px;
   justify-content: space-between;
   padding-top: 40px;
}
form {
    display: none;
}
.warning {
    display: none;
    color: red;
}
.form-control {
    border-color: gray;
}
.result-box {
    margin-top: 15%;
}
.error {
    color: red;
}
