body {
    background-color:rgb(218, 214, 214);
}
.icon {
    padding-left: 15%;
}
.logout {
    padding-left: 30%;
}
.welcome {
    padding-right: 45%;
}
.error {
    color: red;
}
.result {
    color: green;
}
form {
    display: inline;
}
.container {
    margin-top: 2%;
}
.btn {
    margin-bottom: 2%;
}